{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Tricks{% endblock %}

{% form_theme form 'form/_theme/add_trick_theme.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% set flashbag_notices = app.session.flashbag.get('form_notice') %}
            {% if flashbag_notices is not empty %}
            <ul class="msg">
                {% for notice in flashbag_notices %}
                    <li>{{ notice }}</li>
                {% endfor %}
            {% endif %}
            </ul>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}

{% block javascript %}
   {{ parent() }}
   {#<script type="text/javascript" src="{{ asset('js/addTrick.js') }}"></script>#}
   <script type="text/javascript" src="{{ asset('build/js/add.js') }}"></script>
{% endblock %}