{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Tricks{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% set flashbag_notices = app.session.flashbag.get('form_notice') %}
            {% if flashbag_notices is not empty %}
            <ul class="msg">
                {% for notice in flashbag_notices %}
                    <li>{{ notice }}</li>
                {% endfor %}
            {% endif %}
            </ul>
            {{ form_start(form) }}


            {{ form_row(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name)}}
            {{ form_row(form.description) }}
            {{ form_row(form.grp) }}
            <div id="images" data-prototype="{{ form_widget(form.image.vars['prototype'])|e("html_attr") }}" data-index="{{ form.image|length }}">
                {{ form_row(form.image) }}
            </div>
            <button  type="button" id="add_image" class="btn btn-default">Ajouter une image</button><br />

            <div id="videos" data-prototype="{{ form_widget(form.video.vars['prototype'])|e("html_attr") }}" data-index="{{ form.video|length }}">
                {{ form_row(form.video) }}
            </div>
            <button type="button" id="add_video" class="btn btn-default">Ajouter une vidéo</button><br />

            <button type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascript %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('js/addTrick.js') }}"></script>
{% endblock %}