<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}

    <title>{% block title %}SnowTricks{% endblock %}</title>

</head>
<body>
    <a name="haut" id="haut"></a>
    {% block navbar %}
        <div class="container">
            <nav class="navbar" id="">
                <a class="navbar-brand" href="{{ path('home') }}">SnowTricks</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse navbar-right" id="navbarResponsive">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a class="" href="{{ path('home') }}">Home</a>
                        </li>
                        <li>
                            <a href="#">Tricks</a>
                        </li>
                        <li>
                            <a href="{{ path('user_registration') }}">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}">Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


    {% endblock %}

    {% set flashbag_notices = app.session.flashbag.get('notice') %}
    {% if flashbag_notices is not empty %}
    <ul class="msg">
        {% for notice in flashbag_notices %}
            <li>{{ notice }}</li>
        {% endfor %}
        {% endif %}
    </ul>
    {% block content %}{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="{{ asset('build/js/app.js') }}" ></script>


</body>
</html>