<<<<<<< HEAD
<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheet %}
            <!-- Latest compiled and minified CSS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">#}
        {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>#}

        {#<link rel="stylesheet" href="{{ asset('css/style.css') }}">#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">

        <style type="text/css">


            /**display home , section **/



            /**Scroll button **/
            a#cRetour{
                border-radius:3px;
                padding:10px;
                font-size:15px;
                text-align:center;
                color:#fff;
                background:rgba(0, 0, 0, 0.25);
                position:fixed;
                right:20px;
                opacity:1;
                z-index:99999;
                transition:all ease-in 0.2s;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                text-decoration: none;
            }

            a#cRetour:before{ content: "\25b2"; }
            a#cRetour:hover{
                background:rgba(0, 0, 0, 1);
                transition:all ease-in 0.2s;
            }

            a#cRetour.cInvisible{
                bottom:-35px;
                opacity:0;
                transition:all ease-in 0.5s;
            }

            a#cRetour.cVisible{
                bottom:20px;
                opacity:1;
            }

            a#cAller{
                border-radius:3px;
                padding:10px;
                font-size:15px;
                text-align:center;
                color:#fff;
                background:rgba(0, 0, 0, 0.25);
                position:fixed;
                right:20px;
                opacity:1;
                z-index:99999;
                transition:all ease-in 0.2s;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                text-decoration: none;
            }

            a#cAller:before{ content: "\25bc"; }
            a#cAller:hover{
                background:rgba(0, 0, 0, 1);
                transition:all ease-in 0.2s;
            }

            a#cAller.cInvisible{
                top:-35px;
                opacity:0;
                transition:all ease-in 0.5s;
            }

            a#cAller.cVisible{
                top:850px;
                opacity:1;
            }

            /**footer**/
            #footer {
                height: 200px;
                width: auto;
                border-radius: 4px;
            }

            /*.first {
                height:100vh;
                min-height:400px;
                background-size:cover;
                background-image: url("/images/home.jpg");
            }*/
            #mainNav li a {
                color: ;
            }


        </style>


        {% endblock %}

    {% endblock %}

    <title>{% block title %}SnowTricks{% endblock %}</title>

</head>
<body id="haut">

    {% block navbar %}
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger nav-link" href="{{ path('home') }}">Snowtricks</a>
                    <button class="navbar-toggler navbar-toggler-right"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarResponsive"
                            aria-controls="navbarResponsive"
                            aria-expanded="false"
                            aria-label="Toggle navigation">☰
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="nav navbar-nav navbar-right ml-auto">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#">Home</a>
                            </li>
                            <li>
                                <a class="nav-link js-scroll-trigger" href="#home_tricks">Tricks</a>
                            </li>
                            {% if not is_granted('ROLE_USER') %}

                                <li>
                                    <a class="nav-link js-scroll-trigger" href="{{ path('user_registration') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                                </li>
                                <li>
                                    <a class="nav-link js-scroll-trigger" href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                                </li>

                            {% elseif is_granted('ROLE_USER') %}
                                <li role="presentation" class="dropdown">

                                    <a class="dropdown-toggle nav-link js-scroll-trigger"
                                       data-toggle="dropdown"
                                       href="#" role="button"
                                       aria-expanded="false">
                                        <span class="caret" style="">
                                            {{ app.user.username }}
                                            <img class="tw-avatar__img tw-image" alt="Avatar de l’utilisateur"
                                                 id="profile_picture" src="{{ app.user.picture.fileName }}"
                                                 style="display: inline-block; margin-top: -16px;">
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" title="Pour qui ?">Mes tricks</a></li>
                                        <li><a href="#" title="Pour qui ?">Mes commentaires</a></li>
                                        <li><a href="{{ path('logout') }}" title="Comment financer ?">Déconnexion</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </nav>

    {% endblock %}

    {% if app.request.hasPreviousSession() %}
        {%  for notice in app.flashes("notice") %} {#clé  : notice#}
            <div class="alert alert-info">
                {{ notice }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}
    {% block footer %}
        <footer>
            <div>
                <a id="cRetour" class="cInvisible" href="#haut">
                </a>
            </div>
            <section>
                <div id="footer">
                    <h2>Footer</h2>
                </div>
            </section>
        </footer>
    {% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block javascript %}
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function() {
            var aLiens = document.querySelectorAll('a[href*="#"]');
            for(var i=0, len = aLiens.length; i<len; i++) {
                aLiens[i].onclick = function () {
                    if (location.pathname.replace(/^\//,'') === this.pathname.replace(/^\//,'') && location.hostname === this.hostname) {
                        var target = this.getAttribute("href").slice(1);
                        if (target.length) {
                            scrollTo(document.getElementById(target).offsetTop, 1000);
                            return false;
                        }
                    }
                };
            }
        });
    //Exemple de : Forestrf
    // http://jsfiddle.net/forestrf/tPQSv/2/
    function scrollTo(element, duration) {
        var e = document.documentElement;
        if(e.scrollTop===0){
            var t = e.scrollTop;
            ++e.scrollTop;
            e = t+1===e.scrollTop--?e:document.body;
        }
        scrollToC(e, e.scrollTop, element, duration);
    }

    function scrollToC(element, from, to, duration) {
        if (duration < 0) return;
        if(typeof from === "object")from=from.offsetTop;
        if(typeof to === "object")to=to.offsetTop;
        scrollToX(element, from, to, 0, 1/duration, 20, easeOutCuaic);
    }

    function scrollToX(element, x1, x2, t, v, step, operacion) {
        if (t < 0 || t > 1 || v <= 0) return;
        element.scrollTop = x1 - (x1-x2)*operacion(t);
        t += v * step;
        setTimeout(function() {
            scrollToX(element, x1, x2, t, v, step, operacion);
        }, step);
    }

    function easeOutCuaic(t){
        t--;
        return t*t*t+1;
    }

    </script>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        window.onscroll = function(ev) {
            document.getElementById("cRetour").className = (window.pageYOffset > 100) ? "cVisible" : "cInvisible";
            document.getElementById("cAller").className = (window.pageYOffset > 100) ?  "cInvisible" : "cVisible";
            if (window.pageYOffset > 0.0) {
                document.getElementById("mainNav").classList.add("navbar-shrink");
            } else {
                document.getElementById("mainNav").classList.remove("navbar-shrink");
            }
        };
    });
    </script>
    {% endblock javascript %}

</body>
</html>
=======
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>
                Hello World !
            <h1/>{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
>>>>>>> 687c3a47012fb8fcae29d16525308245c8e2b3b8
