{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - forgot Password{% endblock %}

{% block content %}
<div class="container">

    {#<div class="row">
        <h1>Forgot Password</h1>
    </div>
    <div class="row">

        {{ form_start(form) }}
        {{ form_row(form.username) }}

        <button type="submit">Envoyer</button>
        {{ form_end(form) }}
    </div>#}


    <div class="row" >
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Forgot Password</h1><br>

                {{ form_start(form) }}
                {{ form_row(form.username) }}

                {#<input type="submit" name="login" class="login loginmodal-submit">#}
                <button type="submit" class="login loginmodal-submit">Ask For Reset Password</button>
                {{ form_end(form) }}
                <div class="login-help">
                    <a href="{{ path('user_registration') }}">Register</a> - <a href="{{ path('login') }}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}