
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="{{ asset('images/home.jpg') }}" class="responsive" style="height: 800px; width: 102%" /><!--mettre dans style.css-->

                <a href="#bas" class="navbar-fixed-bottom">
                    <img src="{{ asset('images/arrow-up.png') }}" style="float: right;" />
                </a>
            </div>
        </div>
        <div class="">
            <a href="{{ path('trick_creation') }}" id="trick_creation">
                <button id="trick_creation-btn">Créez un Trick !</button>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">

            {% for trick in tricks %}

                {% for image in trick.image %}

                <div class="col-md-2">
                    <a name="bas" id="bas"></a>

                    <a href="{{ path('trick_details', {'slug': trick.slug}) }}" class="">
                        <img src="{{ asset(image.fileName) }}" class="img-thumbnail" />

                    </a>
                {% endfor %}
                    <h5 class="col-lg-6">{{ trick.name }}</h5>

                    <a class="col-lg-1" href="{{ path('trick_modify', {'slug': trick.slug}) }}">
                        <i class="glyphicon glyphicon-pencil" ></i>
                    </a>
                    <a class="col-lg-1" href="{{ path('trick_delete', {'slug': trick.slug}) }}">
                        <i class="glyphicon glyphicon-trash" ></i>
                    </a>
                </div>

                {% else %}
                   <p>Auncun trick !</p>
            {% endfor %}
        </div>

        <div id="" class="" style="">
            <a href="#haut">
                <img src="{{ asset('images/arrow-up.png') }}" style="" />
            </a>
        </div>
    </div>
{% endblock %}