{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Tricks{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="form-group">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.grp) }}


                {% form_theme form 'form/imageField.html.twig' %}

                <div id="images" data-prototype="{{ form_widget(form.image.vars['prototype'])|e("html_attr") }}" data-index="{{ form.image|length }}">
                {{ form_row(form.image) }}

                </div>
                <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a><br />
                {% form_theme form 'form/videoField.html.twig' %}

                {{ form_row(form.video) }}
                <a href="#" id="modify_video" class="btn btn-default">Ajouter une vidéo</a><br />

            <button type="submit">Envoyer</button>

            {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/modifTrick.js') }}"></script>
{% endblock %}
