{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}

            <button type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}