{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Registration{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Registration</h1><br>

                    {{ form_start(form) }}
                    <div id="form_input">
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                </div>
                    <button type="submit" id="registration_submit" class="login loginmodal-submit">Create An Account</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}