{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Reset Password{% endblock %}

{% block stylesheet %} {{ parent() }}

    <style type="text/css">
        #reset_head {
            margin-top: 150px;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="reset_head">

            {{ form_start(form) }}
            {{ form_row(form.password) }}

            <button type="submit">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}